# JWT secret
APP_SECRET=
#development | production
NODE_ENV=
APP_API_URL=http://localhost:3333
APP_WEB_URL=http://localhost:3000
CRYPTO_SECRET_KEY=

# API
API_PORT=3333

# Postgres
DB_PORT=
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASS=


#SMTP
MAIL_PASS=
MAIL_PORT= 
MAIL_HOST=
MAIL_USER= 