# JWT secret
APP_SECRET=
#development | production
NODE_ENV=
APP_API_URL=http://localhost:3333
APP_WEB_URL=http://localhost:3000
CRYPTO_SECRET_KEY=

# API
API_PORT=3333

# Postgres
DB_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASS=